<% if logged_in? %>
  <div class="new-event">
    <div class="col-md-6 col-md-offset-3">
      <h2>Edit Statement</h2>
      <h2><%= @statement.headline %></h2>
    </div> 
  </div>    
  <%= render partial: 'form', locals: { statement: @statement } %>
<% else %>  
  You must be signed in to view this page
<% end %>