<% if logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Edit Statement</h1>
      <h3><%= @statement.headline %></h3>
    </div> 
  </div>    
  <%= render partial: 'form', locals: { statement: @statement } %>
<% else %>  
  You must be signed in to view this page
<% end %>