<body class="root-body">
  <h1>Organized Resistance</h1>

  <tr>
    <ul>
      <h4><li><%= link_to "View All Events", events_path %></li>
      <li><%= link_to "View All Statements", statements_path %>
      <li><%= link_to "Create an event", new_event_path %></li>
      <li><%= link_to "Write a statement", new_statement_path %></li>
    </ul>  

  
</body>

