<body class="root-body">
  <h1>Organized Resistance</h1>

  <tr>
    <ul>
      <!-- <h4><li><%= link_to "View all events", events_path %></li>
      <li><%= link_to "Create an event", signup_path %></li>
      <li><%= link_to "Write a post", signup_path %></li>
      <li><%= link_to "Post a news article", signup_path %></li></h4> -->
    </ul>  

  
</body>

